# Robot Framework
log.html
report.html
output.xml
results/
.pabot_internal/
.robocop_cache

# IDE
.vscode/
*.swp
*.swo
*~
.DS_Store

# Notes
Mes_notes

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
